<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>server</key>
	<dict>
		<key>port</key>
		<string>5222</string>
		<key>hostname</key>
		<string>localhost</string>
		<key>username</key>
		<string>mobilis</string>
	</dict>
	<key>service</key>
	<dict>
		<key>namespace</key>
		<string>__YOUR_SERVICE_NAMESPACE__</string>
		<key>type</key>
		<string>__EITHER_SINGLE_OR_MULTI__</string>
		<key>jid</key>
		<string>__BARE_JID__</string>
		<key>password</key>
		<string>__PASSWORD__</string>
	</dict>
</dict>
</plist>
